/* Global Styles */
    html {
        scroll-behavior: smooth;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    main {
        margin: 0 auto;
        scroll-snap-type: y mandatory;
        overflow: scroll;
        height: 100vh;
        position: relative;
    }

    main::-webkit-scrollbar {
        /* Hides the vertical scrollbar */
        display: none;
      }

    h1, h2 {
        font-family: 'Oswald', sans-serif;
    }

    h1 {
        font-size: 6em;
        margin: 0;
        padding: 0;
    }

    p, li {
        font-size: 1.2em;
        line-height: 2;
        font-family: 'Open Sans', sans-serif;
        color: black;

        /*text-shadow: 1px 2px black;*/
    }

    figcaption {
        font-family: 'Open Sans', sans-serif;
        color: black;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    }

    iframe {
        display: block;
        border-style: none;
    }

/* Content-Box */
    .content-flex {
        display: flex;
        height: 100vh;
        width: 80vw;
        margin: 0 auto;
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
        overflow-x: hidden;
    }

    .content-box {
        background-color: rgba(255, 255, 255, 0.75);
        width: 90%;
        max-height: 90vh;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        overflow: visible;
    }

    #box-two .content-box {
        background-color: rgb(255, 255, 255);
        margin-bottom: 15px;
    }

    #box-four .content-box {
        background: none;
        box-shadow: 0 0 0 0;
        backdrop-filter: none;
        padding: 0;
        border-radius: 0;
        overflow: hidden;
    }

    #box-five .content-box {
        background: none;
        box-shadow: 0 0 0 0;
    }

    #box-five p {
        color: white;
    }

    #box-five p {
        margin-bottom: 100px;
    }

/* Animate.style */
    .animate__animated .animate__fadeInDown {
        animation-duration: 2s;
    }

/* Video Styles */
    #video {
        margin: 0 auto;
        width: 70vw;
        text-align: center;

        height: 39.375vw;
        display: inline-block;
    }

/* Button and Modal Styles */
    #button {
        text-align: center;
        padding: 0 20px;
        margin: 0 auto;
        display: block;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: 3px solid white;
        border-radius: 10px;
    }

    #button:hover {
        color: rgb(35, 159, 220);
        border: 3px solid rgb(35, 159, 220);
        box-shadow: 0 0 5px 5px rgba(35, 159, 220, 0.3);
    }

    #modal {
        display: inline-block;
        width: 100%;
        background-color: rgba(0,0,0,0.95);
        
        position: fixed;
        top: 0;
        left: 0;
        
        color: white;
        z-index: 1;
        transform: scale(0.8);
        border-radius: 2em;
        transition: box-shadow 0.3s;
        overflow: hidden;
    }

    #modal ul li {
        color: white;
    }

    #modal-header {
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
    }

    #close {
        margin: 30px;
        grid-column: 1 / 2;
        display: flex;
        height: 40px;
        width: 40px;
        border: 3px solid white;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        font-family: 'Goldman', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

    #close:hover {
        color: rgb(35, 159, 220);
        border-color: rgb(35, 159, 220);
        box-shadow: 0 0 5px 5px rgba(35, 159, 220, 0.3);
    }

    #sources-header {
        text-align: center;
        font-size: 1.75em;
        grid-column: 2 / 3;
    }

    #sources-header h2 {
        margin: 20px;
    }

    #x {
        font-family: Goldman, sans-serif;
    }

    #references {
        padding: 50px;
    }

/* Heading Background Styles */
    .heading-bg {
        background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        height: 100vw;
        width: 100vw;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: translateY(-100%);
        transition: transform 1s;
    }

    body#zero .heading-bg {
        transform: translateY(0%);
        transition: transform 1s;
    }

    body#one .heading-bg {
        transform: translateY(-33%);
        transition: transform 1s;
    }

    body#three .heading-bg {
        transform: translateY(-66%);
        transition: transform 1s;
    }

/* Iceberg Styles */
    .iceberg {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -3;
        transform: translateY(10%);
        transition: transform 1s;
    }

/* Iceberg Animation Styles */
    body#zero .iceberg {
        transform: translateY(10%);
        transition: transform 1s;
    }

    body#one .iceberg {
        transform: translateY(5%);
        transition: transform 1s;
    }

    body#two .iceberg {
        transform: translateY(0%);
        transition: transform 1s;
    }

    body#three .iceberg {
        transform: translateY(-5%);
        transition: transform 1s;
    }

    body#four .iceberg {
        transform: translateY(-10%);
        transition: transform 1s;
    }

    body#five .iceberg {
        transform: translateY(-100%);
        transition: transform 3s;
    }

/* Background Styles */
    .background {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        transform: translateY(85%);
        transition: transform 1s;
    }

    .surface-wrapper {
        width: 100%;
    }

    .surface-img {
        width: 100%;
        display: block;
    }

    .water-gradient {
        background-image: linear-gradient(rgb(35, 159, 220), black);
        height: 200vh;
    }

    .rock-bottom {
        height: 100vh;
        background-color: black;
    }

/* Background Animation Styles */
    body#zero .background {
        transform: translateY(100%);
        transition: transform 1s;
    }

    body#one .background {
        transform: translateY(75%);
        transition: transform 1s;
    }

    body#two .background {
        transform: translateY(50%);
        transition: transform 1s;
    }

    body#three .background {
        transform: translateY(25%);
        transition: transform 1s;
    }

    body#four .background {
        transform: translateY(0%);
        transition: transform 1s;
    }

    body#five .background {
        transform: translateY(-200%);
        transition: transform 3s;
    }

/* Mobile Styles */
    @media screen and (max-width: 767px) {
        p {
            font-size: 1em;
        }

        li {
            font-size: 0.8em;
        }

        .content-box {
            padding: 15px;
        }
    }

    @media screen and (max-width: 414px) {
        h1 {
            font-size: 3em;
        }

        p {
            font-size: 0.8em;
        }

        li {
            font-size: 0.6em;
        }

        main {
            scroll-snap-type: none;
        }

        .content-flex {
            scroll-snap-align: none;
            margin-top: 100px;
        }

        .content-box {
            padding: 10px;
        }

        #sources-header {
            text-align: center;
            font-size: 1.25em;
            grid-column: 2 / 3;
        }
    }